.togglee
{
    border: 2px solid black;
}
@media screen and (max-width: 1200px) {
    .togglee {
      display: none;
    }
  }
  #htttttttttttttttttttt
  {
    cursor: pointer;
  }
 .clicked
 {
  color:white;
  background-color: black;
 }

 .nodisplay
 {
  display: none;
 }